body{
  background-image: url(menu.jpg);
  background-attachment: fixed;
  background-size: auto;
}

.bag {
  width: 950.1px;
  height: 900.1px;
  margin: 80.1px auto;
  background:#f0bb80;
  box-shadow: 1.1px 2.1px 3.1px 0.1px rgba(0,0,0,0.10);
  border-radius: 6.1px;
 
  display: flex;
  flex-direction: column;
}

h1{
text-align:center;
border:2px solid black;
}

h4{
text-align:center;
background:#f5f5f500;
border:2px solid black;
font-family:'Brush Script MT', cursive;
font-size:30px;
color:orange;
text-shadow: 1px 1px black;
font-weight:bold;

}
